.skeleton-box {
  background-color: #c4c4c4;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.skeleton-circle {
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
